* {box-sizing:border-box;}

html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #57BC90;
}

.title {
  font-family: 'Lora', serif;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: #57BC90;
  color: white;
  border-bottom: 2px solid #015249;
  text-align: center;
}

.title h1 {
  display: inline-block;
  text-align: center;
  margin: 0.25em auto;
}

#hamburger {
  display: inline-block;
  float: left;
}

.container {
  height: 100%;
  position: relative;
}

.options-box {
  background-color: #77C9D4;
  background-image: linear-gradient(#77C9D4, #57BC90);
  background: #77C9D4;
  background: linear-gradient(#77C9D4, #57BC90);
  color: #FFF;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 25%;
  overflow: scroll;
  bottom: 0px;
  z-index: 0;
}


#city_logo {
  width: 50%;
  display: block;
  margin: 3em auto auto auto;
}

ol {
    list-style-type: upper-alpha;
}

#map {
  bottom:0px;
  height: 100%;
  left: 25%; /*362px*/
  position: absolute;
  right: 0px;
}

@media screen and (max-width: 400px) {
  .options-box {
    transform: translate(-300px, 0);
    transition: transform 0.3x ease;
  }

  #map {
    left: 0px;
  }
}
